<div><h2><%= @user.name %></h2></div>
<div><%= @user.email %></div>
<div>
	<h4>Projects</h4>
  <ul>
    <% if @user.projects %>
      <% @user.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    <% else %>
      <li>No projects</li>
    <% end %>
  </ul>
</div>

<div>
	<h4>Fundings</h4>
  <ul>
    <% if @user.fundings %>
      <% @user.fundings.each do |funding| %>
        <li>
        	<%= link_to funding.project.name, project_path(funding.project) %>
        	<%= funding.amount %>
        </li>
      <% end %>
    <% else %>
      <li>No fundings</li>
    <% end %>
  </ul>
</div>
