<div><h2><%= @user.name %></h2></div>
<div><%= @user.email %></div>
<div><h3>Total Funding: <%= @user.total_funding %></h3></div>
<div>
	<h4>Projects</h4>
  <div>
    <% if @user.projects.present? %>
      <% @user.projects.each do |project| %>
        <div><%= link_to project.name, project_path(project) %></div>
      <% end %>
    <% else %>
      <div>No projects</div>
    <% end %>
  </div>
</div>

<div>
	<h4>Fundings</h4>
  <div>
    <% if @user.fundings.present? %>
      <% @user.fundings.each do |funding| %>
        <div>
        	Funded <%= link_to funding.project.name, project_path(funding.project) %> for $<%= funding.amount %> at <%= display_time(funding.created_at) %> 
        </div>
      <% end %>
    <% else %>
      <div>No fundings</div>
    <% end %>
  </div>
</div>
