<div class="page-header">
  <h1><%= @user.name %>'s Profile</h1>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-info">
    Basic Information
  </div>
  <div class="list-group-item">
    Name: <%= @user.name %>
  </div>
  <div class="list-group-item">
    Email: <%= @user.email %>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-info">
    Own Projects
  </div>

  <% if @user.projects.any? %>
    <% @user.projects.each do |project| %>
      <div class="list-group-item">
        <%= link_to project.name, project_path(project) %>
      </div>
    <% end %>
  <% else %>
    <div class="list-group-item">No project now</div>
  <% end %>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-info">
    Funding History
  </div>

  <% if @user.fundings.any? %>
    <% @user.fundings.each do |funding| %>
      <div class="list-group-item">
        Funded <%= link_to funding.project.name, project_path(funding.project) %> for $<%= funding.amount %> at <%= display_time(funding.created_at)%> 
      </div>
    <% end %>
    <div class="list-group-item">
        Total Funding: $<%= @user.total_funding %>
    </div> 
  <% else %>
    <div class="list-group-item">No fundings now</div>
  <% end %>
</div>
