<div class="page-header">
  <h1>User Profile</h1>
  <h4> <%= @user.name %> &lt;<%= @user.email%>&gt;</h4>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-warning">
    Own Projects
  </div>
  <% if @user.projects.any? %>
    <% @user.projects.each do |project| %>
      <a href=<%= project_path(project) %> class="list-group-item indented">
        <%= project.name %>
      </a>
    <% end %>
  <% else %>
    <div class="list-group-item indented">No project now</div>
  <% end %>

  <div class="list-group-item list-group-item-warning">
    Funding History - <span class="important">$<%= @user.total_funding %></span> in total
  </div>
  <% if @user.fundings.any? %>
    <% @user.fundings.each do |funding| %>
      <a href=<%= project_path(funding.project) %> class="list-group-item indented">
        Funded <span class="important project-name"><%= funding.project.name %></span> for $<%= funding.amount %> at <%= display_time(funding.created_at)%> s
      </a>
    <% end %>
  <% else %>
    <div class="list-group-item indented">No fundings now</div>
  <% end %>
</div>
