<%= simple_form_for @project, 
    defaults: {required: false},
    html: { class: "project-form" } do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      Please view the errors below:
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :deadline,
  						label: 'Close Date',
              as: :date %>
  <%= f.input :target_amount, as: :string %>
  <%= f.input :description, as: :text %>

  <%= f.button :submit, class: 'btn btn-warning' %>
<% end %>
