<% @projects.each do |project| %>
	<div style="width:50%; margin:0 auto;"><h2><%= link_to project.name, project_path(project.id) %><h2></div>

	<div style="width:50%; margin:0 auto;">


	<div class="list-group" class=".center">
  		
      <div class="list-group-item active">
      	<span class="list-group-item-heading">Owner</span>
      	<h4 class="list-group-item-text"><%= link_to project.owner.name, user_profile_path(project.owner), class: "list-group-item-text" %></h4>
  		</div>

  		<div class="list-group-item">
      	<p class="list-group-item-heading">Taget Amount</p>
      	<h4 class="list-group-item-text"><%= project.target_amount %></h4>
  		</div>


		  <div class="list-group-item">
      	<p class="list-group-item-heading">Deadline</p>
      	<h4 class="list-group-item-text"><%= project.deadline %><h4>
  		</div>

  		<div class="list-group-item">
      	<p class="list-group-item-heading">Description</p>
      	<h4 class="list-group-item-text"><%= project.description %></h4>
  		</div>
	</div>


	</div>

<% end %>

