<% @projects.each do |project| %>
	<div><h2><%= link_to project.name, project_path(project.id) %><h2></div>

	<div class="col-xs-6 .col-md-4">


	<div class="list-group">
  		<a href="#" class="list-group-item active">
    	<h4 class="list-group-item-heading">Name</h4>
    	<p class="list-group-item-text"><%= project.owner.name %></p>
  		</a>

  		<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading">Amount</h4>
    	<p class="list-group-item-text"><%= project.target_amount %></p>
  		</a>


		<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading">Deadline</h4>
    	<p class="list-group-item-text"><%= project.deadline %></p>
  		</a>

  		<a href="#" class="list-group-item">
    	<h4 class="list-group-item-heading">Description</h4>
    	<p class="list-group-item-text"><%= project.description %></p>
  		</a>
	</div>


	</div>

<% end %>

