<% @projects.each do |project| %>
	<div><h2><%= link_to project.name, project_path(project.id) %><h2></div>
	<div><%= project.owner.name %>
		<%= project.target_amount %>
		<%= project.deadline %>
	</div>
	<div><%= project.description %></div>
<% end %>