<% @projects.each do |project| %>
  <% current_amount = project.current_amount %>
  <% target_amount = project.target_amount %>
  <% progress = (current_amount > target_amount ? 100 : current_amount.to_f / target_amount * 100).round(0) %>
  <div class="thumbnail">  
    <div class="caption">
      <div class="project-list-title">
        <%= link_to project.name, project_path(project.id) %>
      </div>

      <div>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        By <%= link_to project.owner.name, user_profile_path(project.owner) %>
      </div>

      <div>
        $<%= current_amount %> PLEDGED OF $<%= target_amount %> GOAL
      </div>

      <div>
        <%= project.uniq_funders.length %> PLEDGERS
      </div>

      <div>
        <span>Taget Amount:</span>
        $<%= project.target_amount %>
      </div>

      <% if project.open? %>
        <div>
          <% days_remaining = (project.deadline - Time.zone.now).to_i / 1.day %>
          <%= days_remaining %> DAYS TO GO
        </div>
      <% else %>
        <div>
          CLOSED 
        </div>
      <% end %>

      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="<%= "width: #{progress}%" %>">
          <%= progress %>%
        </div>
      </div>

      <% if project.description.present? %>
        <div>
          <span>Description:</span>
          <%= project.description %>
        </div>
      <% end %>

      <div>
        <span>Created at</span>
        <%= display_time(project.created_at) %>
        <span>Latest updated at</span>
        <%= display_time(project.updated_at) %>
      </div>

      <div>
        <%= link_to project_path(project), class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Contribute
        <% end %>
      </div>
    </div>
  </div>
<% end %>
