<% @projects.each do |project| %>
  <div class="thumbnail">  
    <div class="caption">
      <div class="project-list-title">
        <%= link_to project.name, project_path(project.id) %>
      </div>

      <div>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= link_to project.owner.name, user_profile_path(project.owner) %>
      </div>

      <div>
        <span>Current Fundings:</span>
        $<%= project.current_amount %>
      </div>

      <% if project.target_amount.present? %>
        <div>
          <span>Taget Amount:</span>
          $<%= project.target_amount %>
        </div>
      <% end %>

      <% if project.deadline.present? %>
        <div>
          <span>Closing Date:</span>
          <%= display_time(project.deadline) %>
        </div>
      <% end %>

      <% if project.description.present? %>
        <div>
          <span>Description:</span>
          <%= project.description %>
        </div>
      <% end %>

      <div>
        <span>Created at</span>
        <%= display_time(project.created_at) %>
        <span>Latest updated at</span>
        <%= display_time(project.updated_at) %>
      </div>

      <div>
        <%= link_to project_path(project), class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Contribute
        <% end %>
      </div>
    </div>
  </div>
<% end %>
