<% current_amount = @project.current_amount %>
<% target_amount = @project.target_amount %>
<% progress = (current_amount > target_amount ? 100 : current_amount.to_f / target_amount * 100).round(0) %>

<% if @project.owner == current_user %>
  <div class="operation-groups">
    <%= link_to edit_project_path(@project.id), class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      EDIT
    <% end %>

    <% if @project.fundings.empty? %>
      <%= link_to project_path(@project.id), 
          method: :delete, 
          data: {confirm: "Are you sure to delete this project?"},
          class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        DELETE
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="<%= "width: #{progress}%" %>">
    <%= progress %>%
  </div>
</div>

<div class="thumbnail">
  <div class="caption">
    <%= @project.name %>
    <div>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      By <%= link_to @project.owner.name, user_profile_path(@project.owner) %>
    </div>

    <div>
      $<%= current_amount %> PLEDGED OF $<%= target_amount %> GOAL
    </div>

    <div>
      <%= @project.uniq_funders.length %> PLEDGERS
    </div>

    <% if @project.open? %>
      <div>
        <% days_remaining = (@project.deadline - Time.zone.now).to_i / 1.day %>
        <%= days_remaining %> DAYS TO GO
      </div>
    <% else %>
      <div>
        CLOSED 
      </div>
    <% end %>

    <% if @project.description.present? %>
      <div>
        <span>Description:</span>
        <%= @project.description %>
      </div>
    <% end %>

    <div>
      <span>Created at</span>
      <%= display_time(@project.created_at) %>
      <span>Latest updated at</span>
      <%= display_time(@project.updated_at) %>
    </div>
  </div>
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-info">
    Fundings
  </div>

  <% if @project.fundings.any? %>
    <% @project.fundings.each do |funding| %>
      <div class="list-group-item">
        <%= link_to funding.user.name, user_profile_path(funding.user) %> funded $<%= funding.amount %> at <%= display_time(funding.created_at) %>
      </div>
    <% end %>
  <% else %>
    <div class="list-group-item">No fundings now</div>
  <% end %>
</div>

<% if @project.open? %>
  <%= simple_form_for @funding, url: project_funding_path, html: { novalidate: true } do |f| %>
    <%= f.error_notification %>

    <%= f.input :amount, placeholder: 'Amount', label: false, as: :string %>

    <%= f.button :submit, 'Contribute', class: 'btn btn-success', id: 'funding-submit' %>
  <% end %>
<% else %>
  <h2>This project has been closed.</h2>
<% end %>
